name: Supabase Keep Alive

on:
  schedule:
    - cron: '0 0 * * *' # 毎日 UTC 0:00 (日本時間 9:00)
  workflow_dispatch:

jobs:
  ping-db:
    runs-on: ubuntu-latest
    steps:
      - name: Install PostgreSQL Client
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-client

      - name: Run Keep-Alive Query
        run: psql -c "SELECT 1;"
        env:
          # 末尾を .co から .com に修正しました
          PGHOST: aws-0-ap-northeast-1.pooler.supabase.com
          PGPORT: 6543
          PGUSER: postgres.adfxadnpcrtyfeqgfqfm
          PGDATABASE: postgres
          PGPASSWORD: ${{ secrets.SUPABASE_PASSWORD }}
